{
  "solutions": "abc@xyz.com",
  "program": "abc@xyz.com",
  "engineering": "abc@xyz.com",
  "support": "abc@xyz.com",
  "design": "abc@xyz.com",
  "analytics": "abc@xyz.com",
  "policy": "abc@xyz.com",
  "institutionalization": "abc@xyz.com",
  "cxo": "abc@xyz.com",
  "testing": "abc@xyz.com"
}